body {
background-color:skyblue;
}

h1 {
color:navy;
font-family:helvetica;
bacKground-color:tan;
}

h2 {
color:darkviolet;
font-family:helvetica;
}

h3 {
color:royalblue;
font-family:helvetica;
}

p {color: red;
font-family:arial;
background-color red;
}

img {border: 5px solid rebeccapurple;
	width: 10%;
	height: 10%;
}